<% unless children.empty? %>
    <% children.keys.each do |section_node| %>
        <ul class="nav nav-list">
          <li class="nav-list-item">
            <span class="nav-list-span <%= sitemap_depth_tag(section_node)%>">
                <span class="text">
                    <%= icon_tag(section_node) %>
                    <%= section_node.node.name %>
                </span>

              <%= render partial: 'row_buttons', locals: {section_node: section_node} %>
              <%= render partial: 'status', locals: {parent: parent.node, content: section_node.node} %>
            </span>
            <% subchildren = children[section_node] %>
            <%= render partial: 'row', locals: {parent: section_node, children: subchildren} %>
          </li>
        </ul>
    <% end %>
<% end %>