<%= render 'sitemap_buttons' %>

<div class="main-content padded row-fluid clearfix">
    <div id="sitemap">
        <ul class="nav nav-list">
            <li class="nav-list-item">
                <span class="nav-list-span level-one">
                    <span class="text">
                      <%= icon_tag(@root_section_node) %>
                      My Site
                    </span>
                  <%# Need to make the following buttons work%>
                  <%#= render partial: 'row_buttons', locals: {section_node: @root_section_node} %>
                  <%= render partial: 'status', locals: {parent: @root_section_node.node, content: @root_section_node.node} %>

                </span>
                <% children = @sitemap[@root_section_node] %>
                <% children.keys.each do |section_node| %>
                    <ul class="nav nav-list">
                      <li class="nav-list-item">
                        <span class="nav-list-span level-two">
                            <span class="text">
                                <%= icon_tag(section_node) %>
                                <%= section_node.node.name %>
                            </span>

                          <%= render partial: 'row_buttons', locals: {section_node: section_node} %>
                          <%= render partial: 'status', locals: {parent: @root_section_node.node, content: section_node.node} %>
                        </span>
                      </li>
                    </ul>
                <% end %>
                <ul class="nav nav-list">
                  <li class="nav-list-item">
                            <span class="nav-list-span level-two">
                                <span class="text">
                                    <span aria-hidden="true" class="type-icon icon-folder"></span>
                                    System
                                </span>
                              <%#= render 'status' %>
                            </span>

                    <ul class="nav nav-list">
                      <li class="nav-list-item">
                                    <span class="nav-list-span level-three">
                                        <span class="text">
                                            <span aria-hidden="true" class="type-icon icon-file"></span>

                                            Page Not Found
                                        </span>

                                        <ul class="edit-group">
                                          <li><a href="#" class="add-link">View</a></li>
                                          <li><a href="#" class="add-link">Edit</a></li>
                                          <li><a href="#" class="add-link">Archive</a></li>
                                          <li><a href="#" class="add-link">Hide</a></li>
                                          <li><a href="#" class="add-link">Remove</a></li>
                                        </ul>

                                        <div class="permission-group">
                                          <span aria-hidden="true" class="permission-icon icon-eye-blocked"></span>
                                          <span aria-hidden="true" class="permission-icon icon-locked"></span>
                                        </div>
                                    </span>
                      </li>

                      <li class="nav-list-item">
                                    <span class="nav-list-span level-three">
                                        <span class="text">
                                            <span aria-hidden="true" class="type-icon icon-file"></span>

                                            Access Denied
                                        </span>

                                        <ul class="edit-group">
                                          <li><a href="#" class="add-link">View</a></li>
                                          <li><a href="#" class="add-link">Edit</a></li>
                                          <li><a href="#" class="add-link">Archive</a></li>
                                          <li><a href="#" class="add-link">Hide</a></li>
                                          <li><a href="#" class="add-link">Remove</a></li>
                                        </ul>

                                        <div class="permission-group">
                                          <span class="draft">Draft</span>
                                          <span aria-hidden="true" class="permission-icon icon-eye-blocked"></span>
                                          <span aria-hidden="true" class="permission-icon icon-locked"></span>
                                        </div>
                                    </span>
                      </li>

                      <li class="nav-list-item last-nav-list-item">
                                    <span class="nav-list-span level-three">
                                        <span class="text">
                                            <span aria-hidden="true" class="type-icon icon-file"></span>

                                            Server Error
                                        </span>

                                        <ul class="edit-group">
                                          <li><a href="#" class="add-link">View</a></li>
                                          <li><a href="#" class="add-link">Edit</a></li>
                                          <li><a href="#" class="add-link">Archive</a></li>
                                          <li><a href="#" class="add-link">Hide</a></li>
                                          <li><a href="#" class="add-link">Remove</a></li>
                                        </ul>

                                        <div class="permission-group">
                                          <span aria-hidden="true" class="permission-icon icon-eye-blocked"></span>
                                          <span aria-hidden="true" class="permission-icon icon-locked"></span>
                                        </div>
                                    </span>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="nav nav-list">
                  <li class="nav-list-item">
                            <span class="nav-list-span level-two">
                                <span class="text">
                                    <span aria-hidden="true" class="type-icon icon-folder"></span>

                                    Products
                                </span>

                                <ul class="edit-group">
                                  <li><a href="#" class="add-link">View</a></li>
                                  <li><a href="#" class="add-link">Edit</a></li>
                                  <li><a href="#" class="add-link">Archive</a></li>
                                  <li><a href="#" class="add-link">Hide</a></li>
                                  <li><a href="#" class="add-link">Remove</a></li>
                                </ul>

                                <div class="permission-group">
                                  <span aria-hidden="true" class="permission-icon icon-eye-blocked"></span>
                                </div>
                            </span>

                    <ul class="nav nav-list">
                      <li class="nav-list-item">
                                    <span class="nav-list-span level-three">
                                        <span class="text">
                                            <span aria-hidden="true" class="type-icon icon-list"></span>

                                            New Product
                                        </span>

                                        <ul class="edit-group">
                                          <li><a href="#" class="add-link">View</a></li>
                                          <li><a href="#" class="add-link">Edit</a></li>
                                          <li><a href="#" class="add-link">Archive</a></li>
                                          <li><a href="#" class="add-link">Hide</a></li>
                                          <li><a href="#" class="add-link">Remove</a></li>
                                        </ul>
                                    </span>
                      </li>

                      <li class="nav-list-item">
                                    <span class="nav-list-span level-three">
                                        <span class="text">
                                            <span aria-hidden="true" class="type-icon icon-file"></span>

                                            Legal Page
                                        </span>

                                        <ul class="edit-group">
                                          <li><a href="#" class="add-link">View</a></li>
                                          <li><a href="#" class="add-link">Edit</a></li>
                                          <li><a href="#" class="add-link">Archive</a></li>
                                          <li><a href="#" class="add-link">Hide</a></li>
                                          <li><a href="#" class="add-link">Remove</a></li>
                                        </ul>

                                        <div class="permission-group">
                                          <span class="draft">Draft</span>
                                        </div>
                                    </span>
                      </li>

                      <li class="nav-list-item">
                                    <span class="nav-list-span level-three">
                                        <span class="text">
                                            <span aria-hidden="true" class="type-icon icon-file"></span>

                                            Product Testing Page
                                        </span>

                                        <ul class="edit-group">
                                          <li><a href="#" class="add-link">View</a></li>
                                          <li><a href="#" class="add-link">Edit</a></li>
                                          <li><a href="#" class="add-link">Archive</a></li>
                                          <li><a href="#" class="add-link">Hide</a></li>
                                          <li><a href="#" class="add-link">Remove</a></li>
                                        </ul>

                                        <div class="permission-group">
                                          <span class="draft">Draft</span>
                                        </div>
                                    </span>
                      </li>
                    </ul>

                    <ul class="nav nav-list">
                      <li class="nav-list-item">
                                    <span class="nav-list-span level-two last-item">
                                        <span class="text">
                                            <span aria-hidden="true" class="type-icon icon-file"></span>

                                            About Landing Page
                                        </span>

                                        <ul class="edit-group">
                                          <li><a href="#" class="add-link">View</a></li>
                                          <li><a href="#" class="add-link">Edit</a></li>
                                          <li><a href="#" class="add-link">Archive</a></li>
                                          <li><a href="#" class="add-link">Hide</a></li>
                                          <li><a href="#" class="add-link">Remove</a></li>
                                        </ul>
                                    </span>
                      </li>
                    </ul>
                  </li>
                </ul>
</li>
</ul>
</div>
</div>

